.login-box {
  width: 360px;
  margin: 0 auto;
  padding-top: 15%;
}

@media (max-width: 768px) {
  .login-box {
    width: 90%;
    margin-top: 20px;
  }
}

.login-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}

.form-group {
  margin-bottom: 30px;
  position: relative;
}

.form-error {
  position: absolute;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #636b6f;
  background-color: #f5f8fa;
}